.chordcoversion {
  max-width: 80%;
  // height: 90vh;
  // margin-bottom: 150px;
  // background-color: #999;

  & h1 {
    font-size: 50px;
    color: $header-color;
    margin: 100px 0 50px 0;
    text-align: center;
  }

  & .intro {
    padding: 20px;
    letter-spacing: 3px;

    & p {
      text-align: center;
      margin: 40px;
      font-size: 1.3rem;
    }

    & a {
      color: $header-color;
    }
  }

  & .chordinput {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
  }

  & .chordinput input {
    font-size: 1.25rem;
    padding: 5px;
    margin: 20px 20px 40px 0;
  }

  & .chordConvert {
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: $header-color;
    }
  }

  .chordexp {
    margin-bottom: 50px;

    & .capoChart {
      width: 75%;
      height: 100%;
      background-color: rgb(165, 196, 231);
      padding-bottom: 15px;

      & .charttitle {
        font-size: 2.25rem;
        padding: 15px;
        border-bottom: 1px solid #333;
      }

      & .capotitle {
        display: flex;
        font-size: 1.5rem;
        color: #333;
        border-bottom: solid 1px #333;
        justify-content: space-between;
        background-color: #ccc;
        padding: 5px;
      }

      & .capoSelection {
        display: flex;
        justify-content: space-around;
        font-size: 1.75rem;
        margin: 15px 0;

        & .fretnumber {
          width: 35%;
          padding: 2px;
        }

        & .chordchart {
          width: 50%;
          display: flex;
          justify-content: space-between;

          & .chord {
            position: relative;
            padding: 2px;
            cursor: pointer;
            text-align: center;
            transition: all 0.2s ease;

            & .sharp {
              position: absolute;
              top: 7px;
              font-size: 0.85rem;
            }

            &:hover {
              color: $text-color;
            }
          }
        }
      }

      & .chordtitle {
        width: 65%;
      }

      & .capospot {
        width: 35%;
      }
    }
  }
}
.chorddiagram {
  visibility: visible;
  margin-bottom: 10rem;
}
